body {
    background-color: black;
    background: linear-gradient( rgba(0,0,0,0.5), rgba(0, 0, 0, 0.26) ),url("/ingredients2.jpg") no-repeat center center fixed;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Oswald', sans-serif;
}

.jumbotron {
    border-radius: 0 !important;
}


.header_title {
    font-family: 'Kaushan Script', cursive;
    color: white;
    font-size: 65px;
    text-shadow: 2px 2px 6px rgb(0, 0, 0);
    margin-top: 30px;
}

.header_description {
    color: white;
    font-size: 16px;
    text-shadow: 2px 2px 6px rgb(0, 0, 0);
}

.form-control {
    border-radius: 0;
}

input[name=recipeSearch] {
    background-color: #dbdbdb;
    border: 0;
    color: rgb(136, 25, 25);
}

input[name=recipeSearch]:focus {
    background-color: rgb(219, 219, 219);
    border: none;
    color: rgb(136, 25, 25);
}
input[name=recipeSearch]:after {
    background-color: rgb(219, 219, 219);
    border: none;
    color: rgb(136, 25, 25);
}

.recipeSearch_btn {
    background-color: #881919;
    color: rgb(235, 235, 235);
    border-radius: 0;
    cursor:pointer;
}

.recipeSearch_btn:hover {
    background-color: rgb(196, 35, 35);
    color: rgb(212, 182, 182);
    border-radius: 0;
    cursor:pointer;
}

a {
    color: rgb(235, 235, 235);
}

a:hover {
    color: rgb(212, 182, 182);
    text-decoration: none;
}
.search_card {
    background-color: #ffffffe3;
    color: #881919;
    border-radius: 3px;
    margin: 10px 5px 10px 5px;
}

.search_img {
    border-radius: 3px 3px 0 0;
    object-fit: cover;
    margin: 0;
    width: 100%;
    height: 100%;
}

.recipe_title {
    font-size: 1.3rem;
}

.health_label {
    font-weight: 300;
    font-size: 1rem;
}

.ingredient_title {
    font-size: .9rem;
}

ul {
    font-size: .9rem;
    font-weight: 300;
    list-style-type: circle;
    margin-bottom: 5px;
  }